@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-gray-800);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray-400);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-200);
}
